body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
	overflow-x: hidden;
}

.flex-container {
	display: flex;
	background-color: #0000003d;;
	margin: 2px;
	padding: 15px;
	height: 50px;
	justify-content: space-between;
	align-items: center;
  } 
  
  #logo {
	width: 180px;
	height: 100px;
	transition: all 0.5s;
  } 
  
  .buttonH {
	width: 50px;
	height: 60px;
	border-radius: 0px;
	box-shadow: #000000;
  } 
  
  /*barra de buscar */
  .search {
	--input-line: #ffffff;
	--input-text-color: #ffffff;
	--input-text-hover-color: transparent;
	--input-border-color: #ffffff;
	--input-border-hover-color: #ffffff;
	--input-bg-color: #e2007500;
	--search-max-width: 250px;
	--search-min-width: 350px;
	--border-radius: 5px;
	--transition-cubic-bezier: 150ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .search-box {
	max-width: var(--search-max-width);
	min-width: var(--search-min-width);
	height: 45px;
	border: 1px solid var(--input-border-color);
	border-radius: var(--border-radius);
	padding: 5px 15px;
	background: var(--input-bg-color);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	transition: var(--transition-cubic-bezier);
  }
  
  .search-box:hover {
	border-color: var(--input-border-hover-color);
  }
  
  /*Section input*/
  .search-field {
	position: relative;
	width: 100%;
	height: 100%;
	left: -5px;
	border: 0;
  }
  
  .input {
	width: calc(100% - 29px);
	height: 100%;
	border: 0;
	border-color: transparent;
	font-size: 1rem;
	padding-right: 0px;
	color: var(--input-line);
	background: var(--input-bg-color);
	border-right: 2px solid var(--input-border-color);
	outline: none;
  }
  
  .input::-webkit-input-placeholder {
	color: var(--input-text-color);
  }
  
  .input::-moz-input-placeholder {
	color: var(--input-text-color);
  }
  
  .input::-ms-input-placeholder {
	color: var(--input-text-color);
  }
  
  .input:focus::-webkit-input-placeholder {
	color: var(--input-text-hover-color);
  }
  
  .input:focus::-moz-input-placeholder {
	color: var(--input-text-hover-color);
  }
  
  .input:focus::-ms-input-placeholder {
	color: var(--input-text-hover-color);
  }
  
  /*Search button*/
  .search-box-icon {
	width: 52px;
	height: 35px;
	position: absolute;
	top: -6px;
	right: -21px;
	background: transparent;
	border-bottom-right-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
	transition: var(--transition-cubic-bezier);
  }
  
  .search-box-icon:hover {
	background: var(--input-border-color);
  }
  
  .btn-icon-content {
	width: 52px;
	height: 35px;
	top: -6px;
	right: -21px;
	background: transparent;
	border: none;
	cursor: pointer;
	border-bottom-right-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
	transition: var(--transition-cubic-bezier);
	opacity: .4;
  }
  
  .btn-icon-content:hover {
	opacity: .8;
  }
  
  .search-icon {
	width: 21px;
	height: 21px;
	position: absolute;
	top: 18px;
	right: 15px;
  }
  
  /*barra de buscar*/

/*wallpaper*/
body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	-webkit-animation: gradient 15s ease infinite;
	        animation: gradient 15s ease infinite;
}

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} 

/*wallpaper*/

/* Style the navigation menu */
.topnav {
	overflow: hidden;
	background-color: #000000;
	position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
	display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
	color: white;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
	background: black;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
	background-color: #ddd;
	color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
	background-color: #E20074;
	color: white;
  } 

  #casa{
	top: 0;
	padding: 0%;

  } 

  .botonMenu{
	background-color: transparent;
    border: none;
  }
/*nav*/

/*collage*/
h6, p {
	font-family: sans-serif;
  }
  
  .c-heroImageGrid {
	  position: relative;
	  overflow: hidden;
	  height: 50vw;
	  background: #ffffff;
	  margin-bottom: 0px;
  }
  
  .c-heroImageGrid .container {
	  display: flex;
	  align-items: flex-end;
	  position: absolute;
	  top: -20vw;
	  left: -8vw;
	  transform: rotateZ(45deg);
	  height: 100vw;
	  width: 107vw;
  }
  
  .c-heroImageGrid .container .column {
	  overflow: hidden;
	  position: relative;
  }
  
  .c-heroImageGrid .container .column:nth-of-type(1) {
	  border-right: 8px solid white;
	  width: 25%;
	  height: 66vw;
  }
  
  .c-heroImageGrid .container .column:nth-of-type(1):hover {
	  opacity: 0.75;
	  cursor: pointer;
  }
  
  .c-heroImageGrid .container .column:nth-of-type(1):before {
	  position: absolute;
	  top: 8.4vw;
	  left: 8.1vw;
	  background-repeat: no-repeat;
	  background-size: cover;
	  transform: rotateZ(-45deg);
	  content: "";
	  width: 37vw;
	  height: 38vw;
	  background-image: url(./300.webp);
  }
  
  
  .c-heroImageGrid .container .column:nth-of-type(2) {
	  display: flex;
	  flex-direction: column-reverse;
	  width: 75%;
	  height: 109.1vw;
  }
  
  .c-heroImageGrid .container .column:nth-of-type(2) .row {
	  border-top: 8px solid #fff;
  }
  
  
  .c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(1) {
	  position: relative;
	  overflow: hidden;
	  height: 50vw;
  }
  
  .c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(1):hover {
	  opacity: 0.75;
	  cursor: pointer;
  }
  
  .c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(1):before {
	  position: absolute;
	  top: -10.1vw;
	  left: -14.3vw;
	  background-repeat: no-repeat;
	  background-size: cover;
	  transform: rotateZ(-45deg);
	  content: "";
	  width: 65vw;
	  height: 39vw;
	  background-image: url(./200.webp);
  }
  
  .c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(2) {
	  display: flex;
	  height: 40.5vw;
  }
  
  .c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(3) {
	  border-top: none;
  }
  
  .c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(2) article:nth-of-type(1) {
	  overflow: hidden;
	  width: 30%;
	  background-color: #29acd9;
  }
  
  .c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(2) article:nth-of-type(1) .text {
	  width: 100%;
	  height: 100%;
	  overflow: visible;
	  transform: rotateZ(-45deg);
	  position: relative;
  }
  
  .c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(2) article:nth-of-type(1) .text h6 {
	  position: absolute;
	  color: #000000;
	  text-transform: uppercase;
	  font-weight: bold;
	  font-size: 1.35vw;
	  width: 20vw;
	  top: 16vw;
	  left: 7vw;
	  line-height: 1.55vw;
  }
  
  .c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(2) article:nth-of-type(1) .text p {
	  text-align: left;
	  position: absolute;
	  color: #000000;
	  font-size: 0.9vw;
	  width: 18vw;
	  top: 22.5vw;
	  left: -1.5vw;
  }
  
  .c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(2) article:nth-of-type(2) {
	  position: relative;
	  width: 70%;
	  border-left: 8px solid white;
	  overflow: hidden;
  }
  
  .c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(2) article:nth-of-type(2):hover {
	  opacity: 0.75;
	  cursor: pointer;
  }
  
  .c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(2) article:nth-of-type(2):before {
	  position: absolute;
	  top: 0;
	  left: -40vw;
	  width: 110.1vw;
	  height: 110vw;
	  background-repeat: no-repeat;
	  background-size: cover;
	  transform: rotateZ(-45deg);
	  content: "";
	  background-image: url(./100.jpg);
  }
  
  .c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(3) {
	  position: relative;
	  height: 18.6vw;
	  overflow: hidden;
  }
  
  .c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(3):hover {
	  opacity: 0.75;
	  cursor: pointer;
  }
  
  .c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(3):before {
	  position: absolute;
	  top: 7.5vw;
	  left: 25vw;
	  width: 33vw;
	  height: 27vw;
	  background-repeat: no-repeat;
	  background-size: cover;
	  transform: rotateZ(-45deg);
	  content: "";
	  background-image: url(./doc.jpg);
  }
  
/*collage*/

.seccion-medicina {
    background-color: #E20074;
    color: #fff;
    padding: 20px;
    display: flex;
    font-family: 'Calibri';
	
	bottom: 0;
	width: 100%;	
	
	justify-content: space-between;
}

.seccion-medicina section {
	padding: 0px 50px 50px 0px;
}

hr{
	margin: 0;
	padding: 0;
} 

footer {
    background-color: #e979bc;
    text-align: center;
    padding: 10px 0;
   
    bottom: 0;
    width: 100%;
}